.good-border { 
    border: solid 3px rgb(84, 146, 84);
    box-shadow: 0px 0px 30px rgb(84, 146, 84);
    margin-left: -10;
}
.bad-border {
  border: solid 1px rgb(255, 149, 1);
  box-shadow: 0px 0px 5px  rgb(255, 149, 1);
  margin-left: -10;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000000;
  color: white;
}

/* --- */

#customers1 {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers1 td, #customers1 th {
  border: 1px solid #ddd;
  padding: 8px;
}